<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <%- include('./components/sidebar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <%- include('./components/topnav') %>
        <!-- partial -->
        <div style="background-color: #111319" class="main-panel">
          <div style="background-color: #111319" class="content-wrapper">

           <div class="container mx-auto mt-1 text-center">
            <h2 class="title-page">Admin</h2>
            <p class="text-gray">Use Heliactyl's admin settings.</p>
           </div>
           
            <!-- alert -->
            <% if (req.query.err && (req.query.err !== "success" && req.query.err === "MISSINGID" || req.query.err === "INVALIDCOINNUMBER" || req.query.err === "MISSINGCOINS" || req.query.err === "INVALIDID" || req.query.err === "COINSIZE" || req.query.err === "RAMSIZE" || req.query.err === "DISKSIZE" || req.query.err === "CPUSIZE" || req.query.err === "SERVERSIZE" || req.query.err === "MISSINGVARIABLES" || req.query.err === "INVALIDPACKAGE" || req.query.err === "CREATECOUPONINVALIDCHARACTERS" || req.query.err === "CREATECOUPONEMPTY" || req.query.err === "CREATECOUPONLESSTHANONE" || req.query.err === "REVOKECOUPONCANNOTFINDCODE" || req.query.err === "REMOVEACCOUNTMISSINGID" || req.query.err === "REVOKECOUPONCANNOTFINDCODE" || req.query.err === "NOIP")) { %>
            
              <% if (req.query.err === "MISSINGID") { %>
                <div class="alert alert-danger">Missing ID</div>
              <% } else if (req.query.err === "INVALIDCOINNUMBER") { %>
                <div class="alert alert-danger">Invalid coin number</div>
              <% } else if (req.query.err === "MISSINGCOINS") { %>
                <div class="alert alert-danger">Missing coins</div>
              <% } else if (req.query.err === "INVALIDID") { %>
                <div class="alert alert-danger">Invalid ID</div>
              <% } else if (req.query.err === "COINSIZE") { %>
                <div class="alert alert-danger">Coin size error</div>
              <% } else if (req.query.err === "RAMSIZE") { %>
                <div class="alert alert-danger">RAM size error</div>
              <% } else if (req.query.err === "DISKSIZE") { %>
                <div class="alert alert-danger">Disk size error</div>
              <% } else if (req.query.err === "CPUSIZE") { %>
                <div class="alert alert-danger">CPU size error</div>
              <% } else if (req.query.err === "SERVERSIZE") { %>
                <div class="alert alert-danger">Server size error</div>
              <% } else if (req.query.err === "MISSINGVARIABLES") { %>
                <div class="alert alert-danger">Missing variables</div>
              <% } else if (req.query.err === "INVALIDPACKAGE") { %>
                <div class="alert alert-danger">Invalid package</div>
              <% } else if (req.query.err === "CREATECOUPONINVALIDCHARACTERS") { %>
                <div class="alert alert-danger">Coupon code contains invalid characters</div>
              <% } else if (req.query.err === "CREATECOUPONEMPTY") { %>
                <div class="alert alert-danger">Coupon code cannot be empty</div>
              <% } else if (req.query.err === "CREATECOUPONLESSTHANONE") { %>
                <div class="alert alert-danger">Coupon code must be at least one character long</div>
              <% } else if (req.query.err === "REVOKECOUPONCANNOTFINDCODE") { %>
                <div class="alert alert-danger">Cannot find coupon code</div>
              <% } else if (req.query.err === "REMOVEACCOUNTMISSINGID") { %>
                <div class="alert alert-danger">Missing account ID</div>
              <% } else if (req.query.err === "REVOKECOUPONCANNOTFINDCODE") { %>
                <div class="alert alert-danger">Cannot find coupon code</div>
              <% } else if (req.query.err === "NOIP") { %>
                <div class="alert alert-danger">No IP address found</div>
              <% } %>

              <% if (req.query.success === "IP" && req.query.ip) { %>
                <div class="alert alert-success">IP address: <%= req.query.ip %></div>
              <% } %>
              
            <% } else if (req.query.success === "SUCCESS" || req.query.code) { %>
                <% if (req.query.success === "SUCCESS") { %>
                  <div class="alert alert-success">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    Success!
                  </div>
                <% } else if (req.query.code) { %>
                <div class="alert alert-success">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  Success! You have created a coupon code with the name of: <%= req.query.code %>
                </div>
                <% } %>
              </div>
            <% } %>
  
          <div class="row">

            <!-- Stats & Information -->

            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Heliactyl Information</h4>
                  <form class="forms-sample">
                    <div class="form-group">
                    <p id="latestversion"><span>Fetching...</span></p>
                    </div>
                  </form>
                  <form class="forms-sample">
                    <div class="form-group">
                        <a href="https://github.com/OvernodeProjets/Fixed-Heliactyl" class="btn btn-primary btn-lg">View latest version</a> <a href="https://overnode.fr/discord" class="btn btn-primary btn-lg">Get support</a>
                    </div>
                  </form>
               </div>
              </div>
            </div>
            
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Statistics</h4>
                  <form class="forms-sample">
                    <div class="form-group">
                      <p id="userStats">Total number of users: <span>Loading...</span></p>
                  </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- Set & Add resources -->

            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Set user's resources</h4>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="setID">Discord ID:</label>
                      <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="Enter user ID" id="setID">
                    </div>
                    <div class="form-group">
                      <label for="setCPU">CPU (Cores):</label><br>
                      <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="1" id="setCPU">
                    </div>
                    <div class="form-group">
                      <label for="setRAM">RAM (GBs):</label><br>
                      <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="2" id="setRAM">
                    </div>
                    <div class="form-group">
                      <label for="setDisk">Disk (GBs):</label><br>
                      <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="10" id="setDisk">
                    </div>
                    <div class="form-group">
                      <label for="setServers">Servers:</label><br>
                      <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="1" id="setServers">
                    </div>
                    <a onclick="setResources()" role="button" class="btn btn-primary btn-lg">Apply Changes</a>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add user's resources</h4>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="addID">Discord ID:</label>
                      <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="Enter user ID" id="addID">
                    </div>
                    <div class="form-group">
                      <label for="addCPU">CPU (Cores):</label><br>
                      <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="1" id="addCPU">
                    </div>
                    <div class="form-group">
                      <label for="addRAM">RAM (GBs):</label><br>
                      <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="2" id="addRAM">
                    </div>
                    <div class="form-group">
                      <label for="addDisk">Disk (GBs):</label><br>
                      <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="10" id="addDisk">
                    </div>
                    <div class="form-group">
                      <label for="addServers">Servers:</label><br>
                      <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="1" id="addServers">
                    </div>
                    <a onclick="addResources()" role="button" class="btn btn-primary btn-lg">Apply Changes</a>
                  </form>
                </div>
              </div>
            </div>

            <!-- Create & Revoke coupon -->

            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Create a coupon</h4>
                    <form action="/create_coupon">
                      <div class="form-group">
                        <label for="code">Code:</label>
                        <input style="border-radius: 15px; padding: 8px;" class="form-control" name="code" placeholder="Put nothing here to generate a random code">
                      </div>
                      <div class="form-group">
                        <label for="coins">Coins:</label>
                        <input style="border-radius: 15px; padding: 8px;" class="form-control" placeholder="100" name="coins" type="number">
                      </div>
                      <div class="form-group">
                        <label for="ram">RAM (GBs):</label>
                        <input style="border-radius: 15px; padding: 8px;" class="form-control" placeholder="2" name="ram" type="number">
                      </div>
                      <div class="form-group">
                        <label for="disk">Disk (GBs):</label>
                        <input style="border-radius: 15px; padding: 8px;" class="form-control" placeholder="10" name="disk" type="number">
                      </div>
                        <div class="form-group">
                        <label for="cpu">CPU (Cores):</label>
                        <input style="border-radius: 15px; padding: 8px;" class="form-control" placeholder="1" name="cpu" type="number">
                      </div>
                      <div class="form-group">
                        <label for="servers">Servers:</label>
                        <input style="border-radius: 15px; padding: 8px;" class="form-control" placeholder="1" name="servers" type="number">
                      </div> 
                      <button class="btn btn-primary btn-lg" type="submit">Create</button>
                    </form>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Revoke coupon</h4>
                    <form action="/revoke_coupon">
                      <div class="form-group">
                        <label for="code">Code:</label>
                        <input style="border-radius: 15px; padding: 8px;" placeholder="EXAMPLE100" class="form-control" name="code">
                      </div>
                      <button class="btn btn-primary btn-lg" type="submit">Revoke</button>
                    </form>
                </div>
              </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Set user's coins</h4>
                  <form action="/setcoins">
                    <div class="form-group">
                      <label for="id">Discord ID:</label>
                      <input style="border-radius: 15px; padding: 8px;" class="form-control" name="id" placeholder="0000000000000000">
                    </div>
                    <div class="form-group">
                      <label for="coins">Coins:</label>
                      <input style="border-radius: 15px; padding: 8px;" class="form-control" name="coins" placeholder="100" type="number">
                    </div>
                    <button class="btn btn-primary btn-lg" type="submit">Set</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add user's coins</h4>
                  <form action="/addcoins">
                    <div class="form-group">
                      <label for="id">Discord ID:</label>
                      <input style="border-radius: 15px; padding: 8px;" class="form-control" name="id" placeholder="0000000000000000">
                    </div>
                    <div class="form-group">
                      <label for="coins">Coins:</label>
                      <input style="border-radius: 15px; padding: 8px;" class="form-control" name="coins" placeholder="100" type="number">
                    </div>
                    <button class="btn btn-primary btn-lg" type="submit">Add</button>
                  </form>
                </div>
              </div>
            </div>

            <!-- Set plan -->

            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Set user's plan</h4>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="setIDPlan">Discord ID:</label>
                      <input style="border-radius: 15px; padding: 8px;" type="number" class="form-control" placeholder="Enter user ID" id="setIDPlan">
                    </div>
                    <div class="form-group">
                      <label for="planName">Plan:</label><BR>
                      <select class="form-control" style="border-radius: 15px; padding: 8px;" id="planName">
                        <% for (let [name, value] of Object.entries(settings.packages.list)) { %>
                          <option value="<%= name %>"><%= name %> (RAM: <%= value.ram %>MB, Disk: <%= value.disk %>MB, CPU: <%= value.cpu %>%, Servers: <%= value.servers %>)</option>
                        <% } %>
                      </select>
                    </div>
                    <a onclick="setPlan()" role="button" class="btn btn-primary btn-lg">Submit</a>
                    <br><br>
                    <p>You cannot set a plan which is managed by the automatic role rewards, Heliactyl requires you to create a duplicate plan if you want to do that.</p>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
          <!-- content-wrapper ends -->
          <%- include('./components/footer') %>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- Plugin js for this page -->
    <script src="/assets/vendors/select2/select2.min.js"></script>
    <!-- End plugin js for this page -->
    <%- include('./components/scripts') %>
    <script>
      fetch("https://api.github.com/repos/OvernodeProjets/Fixed-Heliactyl/releases/latest")
       .then(response => response.json())
       .then(data => {
         let latestVersion = data.tag_name.replace('v', '');
         let currentVersion = "<%= settings.version.replace(/\"/g, '\\\\\"') %>";
         if (latestVersion === currentVersion) {
           document.getElementById("latestversion").innerHTML = `<span>You are running Heliactyl version <code style="color: #007fcc">v${currentVersion}</code>. Heliactyl is up-to-date!</span>`;
         } else {
           document.getElementById("latestversion").innerHTML = `<span>Heliactyl is <b>not up-to-date!</b> The latest version is <code style="color: #007fcc">v${latestVersion}</code> and you are currently running version <code style="color: #007fcc">v${currentVersion}</code>.</span>`;
       }
     })
     .catch(error => {
       console.error("Error fetching GitHub API:", error);
       document.getElementById("latestversion").innerHTML = "<span>Error checking for updates.</span>";
      });

      fetch("/stats")
        .then(response => response.json())
        .then(data => {
          let TotalUsers = data.total_users;
            document.getElementById("userStats").innerHTML = `Total number of users: <code style="color: #007fcc">${TotalUsers}</code>`;
        })
        .catch(error => {
            console.error("Error fetching stats:", error);
            document.getElementById("userStats").innerHTML = "Error loading statistics."; 
        });
    </script>
    <script>
      async function setResources() {
          let id = encodeURIComponent(document.getElementById("setID").value);
          let cpu = encodeURIComponent(document.getElementById("setCPU").value * 100);
          let ram = encodeURIComponent(document.getElementById("setRAM").value * 1024);
          let disk = encodeURIComponent(document.getElementById("setDisk").value * 1024);
          let servers = encodeURIComponent(document.getElementById("setServers").value);
          window.location.href = `/setresources?id=${id}&cpu=${cpu}&ram=${ram}&disk=${disk}&servers=${servers}`
      }
      async function addResources() {
          let id = encodeURIComponent(document.getElementById("addID").value);
          let cpu = encodeURIComponent(document.getElementById("addCPU").value * 100);
          let ram = encodeURIComponent(document.getElementById("addRAM").value * 1024);
          let disk = encodeURIComponent(document.getElementById("addDisk").value * 1024);
          let servers = encodeURIComponent(document.getElementById("addServers").value);
          window.location.href = `/addresources?id=${id}&cpu=${cpu}&ram=${ram}&disk=${disk}&servers=${servers}`
      }
      async function setPlan() {
        let id = encodeURIComponent(document.getElementById("setIDPlan").value);
        let planName = encodeURIComponent(document.getElementById("planName").value);
        window.location.href = `/setplan?id=${id}&package=${planName}`
      }
    </script>
    <!-- Custom js for this page -->
    <script src="/assets/js/select2.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>
