<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <%- include('./components/sidebar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <%- include('./components/topnav') %>
        <!-- partial -->
        <div style="background-color: #111319" class="main-panel">
          <div style="background-color: #111319" class="content-wrapper">

            <div class="container mx-auto mt-1 text-center">
              <h2 class="title-page">AFK Page</h2>
              <p class="text-gray">Earn coins by staying on this page.</p>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body text-center">
                    <p>Every <%= settings["afk page"].every !== 1 ? settings["afk page"].every + " seconds" : "second" %>, you will get <%= settings["afk page"].coins %> <%= settings["afk page"].coins === 1 ? "coin" : "coins" %></p>
                    <p2>This earning session you have earned <code id="sessionEarn">0 coins</code>.</p2>

                    <script>
                      let totalCoins = 0;

                      function connect() {
                        const socket = new WebSocket(`${window.location.href.startsWith("https://") ? "wss" : "ws"}://${window.location.host}/afk/ws`);

                        socket.onopen = () => {
                          console.log("WebSocket connection opened");
                        };

                        socket.onmessage = (event) => {
                          let data = JSON.parse(event.data);
                          if (data.type === "coin") {
                            totalCoins++;
                            document.getElementById("sessionEarn").innerText = `${totalCoins} coins`;
                          }
                        };

                        socket.onclose = (event) => {
                          document.getElementById("sessionEarn").innerText = `Connection closed`;
                          if (event.wasClean) {
                            console.error(`WebSocket connection closed cleanly, code=${event.code}`);
                          } else {
                            console.error('WebSocket connection closed abruptly');
                          }
                          setTimeout(connect, 5000);
                        };
                      }

                      connect();
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <%- include('./components/adsense') %>
          </div>
          <!-- content-wrapper ends -->
          <%- include('./components/footer') %>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- inject:js -->
    <%- include('./components/scripts') %>
    <!-- endinject -->
  </body>
</html>