<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
  <body>
    <div style="background-color: #111319" class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <%- include('./components/sidebar') %>
      <!-- partial -->
      <div style="background-color: #111319" class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <%- include('./components/topnav') %>
        <!-- partial -->
        <div style="background-color: #111319" class="main-panel">
          
          <div style="background-color: #111319" class="content-wrapper">

            <div class="container mx-auto mt-1 text-center">
              <h2 class="title-page">Dashboard</h2>
              <p class="text-gray">View your resources & other things here.</p>
            </div>
            
            <!-- alert -->
            <% if (req.query.err === "CANNOTAFFORDRENEWAL") { %>
              <div class="alert alert-custom">
                You need at least <%= settings.renewals.cost %> coins to purchase a server renewal!
              </div>
            <% } else if (req.query.err === 'RENEWALSDISABLED') { %>
              <div class="alert alert-custom">
                Renewals are currently disabled.
              </div>
            <% } else if (req.query.err === 'NORENEWRECORD') { %>
              <div class="alert alert-custom">
                No renewals are recorded for this ID. A new renewal timestamp has been set.
              </div>
            <% } else if (req.query.err === 'INTERNALERROR') { %>
              <div class="alert alert-custom">
                Internal Server Error
              </div>
            <% } else if (req.query.err === 'STOREDISABLED') { %>
              <div class="alert alert-custom">
                Store are currently disabled.
              </div>
            <% } else if (req.query.success === 'RENEWED') { %>
              <div class="alert alert-custom">
                Successfully purchased renewal for server!
              </div>
            <% } else if (req.query.success === 'NEXTELIGIBLERENEWALTIME') { %>
              <div class="alert alert-custom">
                You have to wait until your server is suspended to renew it.
              </div>
            <% } else if (req.session.newaccount || req.session.password) { %>
             <div class="alert alert-custom">
                 <% if (req.session.newaccount) { %>
                  Welcome, <%= pterodactyl.first_name %>! We're glad to have you here for the first time.<br>
                <% } %>
                <% if (req.session.password) { %>
                  Your password has been changed to <%= req.session.password %>, however if you do not save that then you can just reset it via the "Account Settings" page.
                <% } else { %>
                  Please head over to Settings to create a password.
                <% } %>
              </div>
            <% } %>            
        
        <%- include('./components/status') %>
        <% if (settings.renewals.status) { %> 
            <div class="row ">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Upgrade Resources</h4>
                    <h5>If you require more resources for your server, click the button below</h5><br>
                    <a class="btn btn-primary btn-lg" href="../store">Buy Extra Resources</a>
                    </div>
                  </div>
                </div>
                 
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Deploy Servers</h4>
                    <h5>If you would like to deploy a server, either go to Manage Servers -> Deploy Server or click the button below</h5><br>
                    <a class="btn btn-primary btn-lg" href="../servers/new">Deploy Server</a>
                    </div>
                  </div>
                </div>
              </div>
              <% } %> 
              
              <div class="row">
                <% if (pterodactyl.relationships.servers.data.length === 0) { %>
                  <div class="col-12 grid-margin">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Server Information</h4>
                        <p>You do not own any servers! Why not create one?</p>
                      </div>
                    </div>
                  </div>
                <% } else { %>
                  <% for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) { %>
                    <div class="col-md-4 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title" id="server-name-<%= pterodactyl.relationships.servers.data[i].attributes.id %>">
                            <%= pterodactyl.relationships.servers.data[i].attributes.name.length > 40 ? 
                                pterodactyl.relationships.servers.data[i].attributes.name.slice(0, 40) + "..." : 
                                pterodactyl.relationships.servers.data[i].attributes.name %>
                          </h4>
                          <% if (settings.renewals.status) { %> 
                          <p>
                            <i class="mdi mdi-clock"></i> Time Left: 
                            <span id="time-left-<%= pterodactyl.relationships.servers.data[i].attributes.id %>">Loading...</span>
                            <script>
                              fetch(`/api/renewalstatus?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>`)
                                .then(response => response.json())
                                .then(data => {
                                  const serverNameElement = document.getElementById('server-name-<%= pterodactyl.relationships.servers.data[i].attributes.id %>');
                                  const timeLeftElement = document.getElementById('time-left-<%= pterodactyl.relationships.servers.data[i].attributes.id %>');
                                  if (!data.renewable) {
                                    if (data.text.includes("day")) {
                                      const regexResult = /(\d+) days and (\d+\.\d+) hours/.exec(data.text);
                                      if (regexResult) {
                                        const days = parseInt(regexResult[1]);
                                        const hours = Math.floor(parseFloat(regexResult[2]));
                                        const minutes = Math.round((parseFloat(regexResult[2]) - hours) * 60);
                                        const formattedTime = days > 0 ? `${days} days, ${hours} hours, and ${minutes} minutes` : `${hours} hours and ${minutes} minutes`;
                                        timeLeftElement.innerText = formattedTime;
                                      }
                                    } else {
                                      const timeParts = data.text.split(" ");
                                      const hours = Math.floor(parseFloat(timeParts[0]));
                                      const minutes = Math.round((parseFloat(timeParts[0]) - hours) * 60);
                                      timeLeftElement.innerText = `${hours} hours and ${minutes} minutes`;
                                    }
                                  } else if (data.renewable) {
                                    timeLeftElement.innerText = data.text;
                                    serverNameElement.innerText += ' Suspended';
                                  } else {
                                    timeLeftElement.innerText = 'Not Renewable';
                                  }
                                });
                            </script>
                          </p>
                          <% } %> 
                          <p><i class="mdi mdi-memory"></i> CPU: <%= pterodactyl.relationships.servers.data[i].attributes.limits.cpu %>%</p>
                          <p><i class="mdi mdi-format-list-bulleted"></i> RAM: <%= pterodactyl.relationships.servers.data[i].attributes.limits.memory %>MB</p>
                          <p><i class="mdi mdi-database"></i> Disk: <%= pterodactyl.relationships.servers.data[i].attributes.limits.disk %>MB</p>
                          <div class="btn-group btn-group-spacing">
                            <a role="button" class="btn btn-primary" href="<%= settings.pterodactyl.domain %>/server/<%= pterodactyl.relationships.servers.data[i].attributes.identifier %>">Link</a>
                            <% if (settings.renewals.status) { %> 
                            <a role="button" class="btn btn-success" href="/renew?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>">Renew</a>
                            <% } %> 
                            <a role="button" class="btn btn-warning" href="/servers/edit?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>">Edit</a>
                            <a role="button" class="btn btn-danger" onclick="if (confirm('Are you sure you want to delete the server? This action is irreversible.')) { window.location.href='/delete?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>' }">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% } %>
                <% } %>
              </div>
              <%- include('./components/adsense') %>
            </div>
           <!-- content-wrapper ends -->
         <%- include('./components/footer') %>
       </div>
     <!-- main-panel ends -->
    </div>
   <!-- page-body-wrapper ends -->
  </div>
 <!-- container-scroller -->

 <%- include('./components/scripts') %>
 </body>
</html>            
