<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
  <body>
    <div style="background-color: #111319" class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <%- include('./components/sidebar') %>
      <!-- partial -->
      <div style="background-color: #111319" class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <%- include('./components/topnav') %>
        <!-- partial -->
        <div style="background-color: #111319" class="main-panel">
          <div style="background-color: #111319" class="content-wrapper">

           <div class="container mx-auto mt-1 text-center">
            <h2 class="title-page">Your Servers</h2>
            <p class="text-gray">You can edit, delete, create & update servers here.</p>
           </div>

           <!-- alert -->
           <% if (req.query.err && req.query.err !== "SUCCESS") { %>
             <div class="alert alert-custom">
               <% if (req.query.err === "CREATEDSERVER") { %>
                 Success! Your server has been created
               <% } else if (req.query.err === "DELETEDSERVER") { %>
                 Success! Your server has been deleted, feel free to create a new one now
               <% } else if (req.query.err === "MODIFYSERVER") { %>
                 Success! Your server resources have been changed
               <% } else if (req.query.err === "MISSINGVARIABLE") { %>
                 You have not filled out all of the server information.
               <% } else if (req.query.err === "COULDNOTDECODENAME") { %>
                 There was an error decoding the server name.
               <% } else if (req.query.err === "TOOMUCHSERVERS") { %>
                 Too many servers!
               <% } else if (req.query.err === "LITTLESERVERNAME") { %>
                 Your server name must be at least 3 characters.
               <% } else if (req.query.err === "BIGSERVERNAME") { %>
                 Your server name must be less than <b>191</b> characters.
               <% } else if (req.query.err === "INVALIDLOCATION") { %>
                 Invalid location selected.
               <% } else if (req.query.err === "PREMIUMLOCATION") { %>
                 Please select a location.
               <% } else if (req.query.err === "INVALIDEGG") { %>
                 Invalid server type selected.
               <% } else if (req.query.err === "NOTANUMBER") { %>
                 RAM, disk and CPU must be a number.
               <% } else if (req.query.num && !isNaN(parseFloat(req.query.num))) { %>
                 <% if (req.query.err === "EXCEEDRAM" || req.query.err === "EXCEEDDISK" || req.query.err === "EXCEEDCPU") { %>
                   You don't have enough resources to make this server.
                 <% } else if (req.query.err === "TOOLITTLERAM" || req.query.err === "TOOLITTLEDISK" || req.query.err === "TOOLITTLECPU") { %>
                   You must make a server with at least <b><%= req.query.num %></b>
                   <% if (req.query.err.slice(-3) === "RAM") { %>
                     MB RAM
                   <% } else if (req.query.err.slice(-4) === "DISK") { %>
                     MB disk
                   <% } else { %>
                     % CPU
                   <% } %>
                   if you want to create a server with the server type you have selected.
                 <% } else if (req.query.err === "TOOMUCHRAM" || req.query.err === "TOOMUCHDISK" || req.query.err === "TOOMUCHCPU") { %>
                   With the selected server type, you can have a maximum of <b><%= req.query.num %></b>
                   <% if (req.query.err.slice(-3) === "RAM") { %>
                     MB RAM
                   <% } else if (req.query.err.slice(-4) === "DISK") { %>
                     MB disk
                   <% } else { %>
                     % CPU
                   <% } %>
                   on the server.
                 <% } else if (req.query.err === "TOOLITTLECOINS") { %>
                   You do not have enough coins to create a server
                 <% } %>
               <% } else if (req.query.err === "ERRORONCREATE") { %>
                 An error was reported by the Panel while attempting to create the server.
               <% } %>
             </div>
           <% } %>
         
            
            <div class="row">
              <% if (pterodactyl.relationships.servers.data.length === 0) { %>
              <% } else { %>
              <% for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) { %>                
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title"><%= pterodactyl.relationships.servers.data[i].attributes.name.length > 40 ? pterodactyl.relationships.servers.data[i].attributes.name.slice(0, 40) + "..." : pterodactyl.relationships.servers.data[i].attributes.name %></h4>
                      <h5>Server <%= pterodactyl.relationships.servers.data[i].attributes.identifier %></h5><br>
                      <p><i class="mdi mdi-memory"></i> &nbsp; CPU: <%= pterodactyl.relationships.servers.data[i].attributes.limits.cpu/100 %> Core(s)</p>
                      <p><i class="mdi mdi-layers"></i> &nbsp; Ram: <%= pterodactyl.relationships.servers.data[i].attributes.limits.memory/1024 %> GB(s)</p>
                      <p><i class="mdi mdi-harddisk"></i> &nbsp; Disk: <%= pterodactyl.relationships.servers.data[i].attributes.limits.disk/1024 %> GB(s)</p>
                      <br>

                      <a role="button" style="border-radius: 15px; display: inline-flex; align-items: center;" class="btn btn-danger btn-lg" onclick="if (confirm('Please confirm you want to delete this server, the data cannot be retrieved after it has been deleted.')) { window.location.href='/delete?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>' }">
                        <i class="mdi mdi-delete mr-2 d-flex justify-content-center"></i>
                        <span>Delete Server</span> 
                      </a>             

                      <a role="button" style="border-radius: 15px; display: inline-flex; align-items: center;" class="btn btn-warning btn-lg" href="/servers/edit?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>">
                      <i class="mdi mdi-pencil mr-2 d-flex justify-content-center"></i> Edit Resources</a>

                      <% if (settings.renewals.status) { %> 
                        <a role="button" style="border-radius: 15px; display: inline-flex; align-items: center;" class="btn btn-success btn-lg" href="/renew?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>">
                        <i class="mdi mdi-refresh mr-2 d-flex justify-content-center"></i> Renew</a>
                      <% } %>
                      
                    </div>
                  </div>
                </div>
              <% } %>
           <% } %>
           <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <center>
                  <a class="button2 d-flex justify-content-center" href="../servers/new" onclick="this.classList.toggle('button2--loading')">
                    <span class="button2__text">+</span>
                  </a>
                </center>
              </div>
            </div>
          </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <%- include('./components/footer') %>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <%- include('./components/scripts') %>
  </body>
</html>
